.pn-message-outer {
    margin: 1em 0 0 0;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.lowercase {

    input[type=text] {
        text-transform: lowercase;        
    }    
}

.file-field {
    color: #2B2B2B !important;
}

.pn-form-outer {
    position: relative;

    &.disabled {

        form {
            opacity: 0.7;
        }

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
        }
    }

    .ui.loader:before {
        width: 10rem;
        height: 10rem;
        border-radius: 0;
        border: none;
        margin: -8em 0em 0em -5rem;
    }

    .ui.loader:after {
        width: 10rem;
        height: 10rem;
        background-image: url('./loader.svg');
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;
        border-radius: 0;
        border: none;
        margin: -8em 0em 0em -5rem;
        animation: loader 0.95s linear;
        animation-iteration-count: infinite;
    }

    .pn-status-card {
        box-sizing: border-box;
        width: 400px;
        padding: 32px 21px 32px 21px;
        background-color: rgba(51, 51, 51, 0.7);
        box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.9);
        border-radius: 6px;
        font-size: 1.51em;
        line-height: 1.2;
        word-break: keep-all;
    }
}